.list {
  display: grid;
  gap: 2rem;
  list-style-type: none;
  padding: 0rem 1rem;
  border-radius: 25px;
  font-family: "Commissioner", sans-serif;
}

.proj {
  padding: 0.7rem 2.5rem;
  margin: 1rem 4rem;
  color: rgb(236, 231, 231);
  font-family: "Raleway", sans-serif;
}
